
.tagline{   
    color: #e01820;
    font-size: 20px;
    line-height: 1;
    font-weight: 700;
    margin: 0 0 10px;
    text-transform: capitalize;
    display: block;
    width: -moz-fit-content;
    transition: .3s ease all;
}

.tittle{
    font-size: 39px;
    font-weight: 900;
    text-transform: capitalize;
    letter-spacing: 0;
    margin-top: 12px;
}

.comment {
    color: #3c4c51;
    font-weight: 500;
    margin-top: 14px;
    font-size: 20px;
}

.taggs {
    padding: 3px 8px;
    letter-spacing: 1px;
    background-color: rgba(143, 183, 202, 0.945);
    color: rgba(0, 0, 0, 0.842);
    border-radius: 4px;
    cursor: pointer;
}


