.box-big-imagen{
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
position: relative;
}

.content-big-imagen{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30%;
    width: 90%;
    border: none;
    background-color: white;
    border: none;
}

.image-big {
    cursor: pointer;
    transition: .5s ease all;
}

.image-big:hover{
    transform: scale(1.1);
}

.box-little-image{
    overflow: hidden;
    font-family: Poppins,sans-serif;
    height: 200px;
    min-height: 200px;
}

.image-square{
    cursor: pointer;
    transition: .5s ease all;
}
.image-square:hover{
    transform: scale(1.2);
}

.content-square{    
    cursor: pointer;
}

.content-square-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    transition: .6s ease all;
    color: #0e2342;
}
.content-square-text:hover{
   text-decoration: underline;
}

/* swippertaggs */

.swiperTag-container {
    max-width: 1250px;
    width: 95%;
    margin: 0 auto;
}
.swiperTag-container .swiper-button-next:after,
.swiperTag-container .swiper-button-prev::after {
    font-size: 20px;
}

.SwiperSlide-tag {
    width: 100%;
}
.swiperTag-button_div {
    display: block;
}
.swiperTag-button {
    border: 1px solid #999;
    padding: 4px 12px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    text-transform: capitalize;
    background: transparent;
    transition: all 0.2s;
}

.swiperTag-button:hover {
    background: #1a1a1a;
    color: #fff;
    border-color: #1a1a1a;
}

.swiperTag-container .swiper {
    display: flex;
    height: 40px;
}
