
:root {
  --first-color: #0e2342;
  --first-color-alt: #0a58ca;
  --body-color: #fff;
  --text-color: #0f0f0f;

  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

.content {
  position: relative;
  width: 100%;
}

.page {
    position: absolute;
    left: 0;
    right: 0;
  }
  
  .page-enter {
    opacity: 0;
    transform: scale(1.1);
  }
  
  .page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .page-exit {
    opacity: 1;
    transform: scale(1);
  }

  .page-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
  }

  .container_ {
   width: 100%;
    margin: 0 auto;
    width: 95%;
}
.search-form{
    margin: 4rem 0;
    display: flex;
    justify-content: center;
}
.search-form_container{
    width: 60%;
}
.search-div_query {
    text-align: end;
    position: relative;
}
.search-input{
    width: 80%;
    border: none;
    border-bottom: 3px solid #ccc;
    padding: 12px 20px;
    outline:none;
    transition: 0.5s;
}
.search-input:focus {
    border-bottom: 3px solid #555;
}
.search-button{
    border: none;
    background-color: transparent;
    padding: 12px 5px;
    font-size: 1.5rem;
    color: #ccc;
    position: absolute;
    right: 0;    
}

.search-div_checkbox {
    text-align: end;
    margin-top: 1rem;
}

.search-form input[type="checkbox"] {
    margin: 0 .5rem;
}

